{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Home | Starcity Airport</title>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/flight_chart.css' %}">
    {% if user.is_authenticated %}
        <script type="text/javascript" src="{% static 'js/bookings.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bookings_style.css' %}">
    {% endif %}
{% endblock head %}

{% block body %}
    {% if not user.is_authenticated %}
    <section class="section first-section" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('{% static 'img/plane3.12.jpg'%}');">
        <div class="banner-div">
            <div class="banner">
                <h1 class="banner-text">Welcome to Starcity Airport</h1>
                <h3 class="banner-subtext">Book Domestic and International Flight Tickets</h3>
            </div>
        </div>
    </section>
    {% endif %}

    {% include 'flight/flight_chart.html' %}

    {% if not user.is_authenticated %}
    <section class="section third-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h2>Popular Destination</h2>
                    </div>
                </div>
            </div>
            <div class="row popular_destinations">
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination" onclick="window.location.href = 'https://en.wikipedia.org/wiki/Tourism_in_Italy'">
                        <div class="thumb">
                            <img src="{% static 'img/destination/1.png' %}" alt="">
                        </div>
                        <div class="content">
                            <a href="#">Italy</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination" onclick="window.location.href = 'https://en.wikipedia.org/wiki/Tourism_in_Brazil'">
                        <div class="thumb">
                            <img src="{% static 'img/destination/2.png' %}" alt="">
                        </div>
                        <div class="content">
                            <a href="#">Brazil</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination" onclick="window.location.href = 'https://en.wikipedia.org/wiki/Tourism_in_the_United_States'">
                        <div class="thumb">
                            <img src="{% static 'img/destination/3.png' %}" alt="">
                        </div>
                        <div class="content">
                            <a href="#">America</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination" onclick="window.location.href = 'https://en.wikipedia.org/wiki/Tourism_in_Nepal'">
                        <div class="thumb">
                            <img src="{% static 'img/destination/4.png' %}" alt="">
                        </div>
                        <div class="content">
                            <a href="#">Nepal</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination" onclick="window.location.href = 'https://en.wikipedia.org/wiki/Tourism_in_the_Maldives'">
                        <div class="thumb">
                            <img src="{% static 'img/destination/5.png' %}" alt="">
                        </div>
                        <div class="content">
                            <a href="#">Maldives</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination" onclick="window.location.href = 'https://en.wikipedia.org/wiki/Tourism_in_Indonesia'">
                        <div class="thumb">
                            <img src="{% static 'img/destination/6.png' %}" alt="">
                        </div>
                        <div class="content">
                            <a href="#">Indonesia</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {% if user.is_authenticated %}
        {% include 'flight/bookings.html' %}
    {% endif %}

    {% block parentBody %}
        {% if user.is_authenticated %}
            <div class="popup">
                <div class="small-popup">
                    <div style="margin-bottom: 10px; font-size: 1.1em;"><strong>Do you really want to cancel this ticket?</strong></div>
                    <div class="popup-actions">
                        <button class="btn btn-light" onclick="remove_popup()">Go Back</button>
                        <button class="btn btn-danger" id="cancel_ticket_btn" data-ref="" onclick="cancel_tkt()">Cancel</button>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}

{% endblock%}
